NEXT_PUBLIC_APP_ENV=######
API_URL=######
NEXT_PUBLIC_SOCKET_URL=######
SITE_URL=######
SEO_INDEXABLE=######
NEXT_PUBLIC_CONTACT_EMAIL=######
NEXT_PUBLIC_SOCIAL_URLS=######
NEXT_PUBLIC_ADMIN_URL=######
ADMIN_ORIGIN_URL=######
NEXT_PUBLIC_TENANT_BASE_DOMAIN=######
NEXT_PUBLIC_TURNSTILE_SITE_KEY=######
SENTRY_DSN=######
NEXT_PUBLIC_SENTRY_DSN=######
NEXT_PUBLIC_PWA_ENABLED=######
PWA_KILL_SWITCH=######
NEXT_PUBLIC_IMAGE_HOSTS=######
